<div class="container-fluid text-center">
  {{ title }}
  <!-- <ng-container *ngIf="showPrimary; then primary; else secondary">
  </ng-container> -->
  <!-- <ng-container #placeholder></ng-container> -->
  <ng-container
    *ngTemplateOutlet="primary; context: { text: btnText, theme: 'btn-primary' }"
  ></ng-container>
</div>

<ng-template #primary let-text="text" let-theme="theme">
  <div>
    <button class="btn" [ngClass]="theme">{{ text }}</button>
  </div>
</ng-template>

<ng-template appTest let-text>
  <div>
    <button class="btn btn-secondary">{{ text }}</button>
  </div>
</ng-template>
